body{
    background-image: url('../image/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.paint{
    display: flex;
}

.menuSide{
    background-color: rgba(0,0,0,0.6);
    width: 13%;
    height: 100vh;
    overflow: hidden;
}
.menuSide img{
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
    
}
#image{
    background-color: white;
}
ul{
    list-style: none;
}

.color{
    margin-left: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: red;
}

.toile{
    background: white;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid grey;
    position: relative;
    display: none;
    overflow: hidden;
}
.slidecontainer {
   margin-left:30px;
    width: 70% ;
}
img#gomme{
    width: 55px;
    height: 55px;
    margin-left: -6px;
}


.btn_gomme{
    height: 61px;
    width: 60px;
    margin-left: 82px;
    margin-top: -20px;
    margin-bottom: 20px;
}
button.static{
    margin-left: 45px;

}