body{
    background-image: url('../image/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.paint{
    display: flex;

}

.menuSide{
    background: black;
    opacity: 0.65;
    width: 13%;
    height: 100vh;
    overflow: hidden;
}
.menuSide img{
    width: 100%;
    height: 170px;
    margin-bottom: 50px;
    
}
#image{
    background-color: white;
}

button.color{
    margin-left: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.toile{
    background: white;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid grey;
    position: static;
}